.popupSelect.left{min-height:650px;}
.popupWrapper .row .body, .customize .sub, .popupWrapper .row.firstItem .body .customize, .popupWrapper .row.secondItem .body .customize, .popupWrapper .row.firstItem.detail .body .type, .popupWrapper .row.secondItem.detail .body .type, .popupWrapper .row .typeSelectionBtn small, .popupWrapper .row.detail .typeSelectionBtn span{display:none;}
.popupWrapper .row.firstItem.detail .body .customize, .popupWrapper .row.secondItem.detail .body .customize, .popupWrapper .row.detail .typeSelectionBtn small{display:block;}

.firstPage .row{display:none;}
.firstPage .row:nth-child(1){display:block;}
.row:nth-child(1) .body{display:block;}
