.popupSelect.left{min-height:650px;}
.popupWrapper .row .body, .customize .sub, .popupWrapper .row.firstItem .body .customize, .popupWrapper .row.secondItem .body .customize, .popupWrapper .row.firstItem.detail .body .type, .popupWrapper .row.secondItem.detail .body .type, .popupWrapper .row .typeSelectionBtn small, .popupWrapper .row.detail .typeSelectionBtn span{display:none;}
.popupWrapper .row.firstItem.detail .body .customize, .popupWrapper .row.secondItem.detail .body .customize, .popupWrapper .row.detail .typeSelectionBtn small{display:block;}

.firstPage .row{display:none;}
.firstPage .row:nth-child(1){display:block;}
.row:nth-child(1) .body{display:block;}


.alertReady .alertPopup:after{content:'';width:100%;height:100%;background:#000;opacity:.7;position:fixed;top:0;left:0;z-index:-1;}
.alertPopup .alertContent{background:#fff;position:relative;z-index:1;}
.alertPopup{display:none;opacity:0;-webkit-transition: opacity 222ms ease-in-out; -moz-transition: opacity 222ms ease-in-out;-o-transition: opacity 222ms ease-in-out;transition: opacity 222ms ease-in-out;-webkit-transition-timing-function: ease-in-out; -moz-transition-timing-function: ease-in-out;-o-transition-timing-function: ease-in-out;transition-timing-function: ease-in-out;z-index:3;}
.alertReady .alertPopup{display:block;}
.alertAnimate .alertPopup{opacity:1;}
