/*/////////////////////////////////////////      FONT      /////////////////////////////////////////*/

/* Pizzahut Font */ 

@font-face {
    font-family: 'usc-medium';
    src: url('../styles/fonts/usc/UnitedSansSemiCond-Medium_gdi.eot');
    src: url('../styles/fonts/usc/UnitedSansSemiCond-Medium_gdi.eot?#iefix') format('embedded-opentype'),
         url('../styles/fonts/usc/UnitedSansSemiCond-Medium_gdi.woff2') format('woff2'),
         url('../styles/fonts/usc/UnitedSansSemiCond-Medium_gdi.woff') format('woff'),
         url('../styles/fonts/usc/UnitedSansSemiCond-Medium_gdi.ttf') format('truetype'),
         url('../styles/fonts/usc/UnitedSansSemiCond-Medium_gdi.svg#UnitedSansSemiCond-Medium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'usc-bold';
    src: url('../styles/fonts/usc/UnitedSansSemiCond-Bold_gdi.eot');
    src: url('../styles/fonts/usc/UnitedSansSemiCond-Bold_gdi.eot?#iefix') format('embedded-opentype'),
         url('../styles/fonts/usc/UnitedSansSemiCond-Bold_gdi.woff2') format('woff2'),
         url('../styles/fonts/usc/UnitedSansSemiCond-Bold_gdi.woff') format('woff'),
         url('../styles/fonts/usc/UnitedSansSemiCond-Bold_gdi.ttf') format('truetype'),
         url('../styles/fonts/usc/UnitedSansSemiCond-Bold_gdi.svg#UnitedSansSemiCond-Medium') format('svg');
    font-weight: normal;
    font-style: normal;

}
 
/* Helvetica Font */ 
 
@font-face {
    font-family: 'helvetica-light';
    src: url('../styles/fonts/helvetica/helveticaltstdlight.eot');
    src: url('../styles/fonts/helvetica/helveticaltstdlight.eot?#iefix') format('embedded-opentype'),
         url('../styles/fonts/helvetica/helveticaltstdlight.woff2') format('woff2'),
         url('../styles/fonts/helvetica/helveticaltstdlight.woff') format('woff'),
         url('../styles/fonts/helvetica/helveticaltstdlight.ttf') format('truetype'),
         url('../styles/fonts/helvetica/helveticaltstdlight.svg#UnitedSansSemiCond-Medium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'helvetica-bold';
    src: url('../styles/fonts/helvetica/helveticaltstdbold.eot');
    src: url('../styles/fonts/helvetica/helveticaltstdbold.eot?#iefix') format('embedded-opentype'),
         url('../styles/fonts/helvetica/helveticaltstdbold.woff2') format('woff2'),
         url('../styles/fonts/helvetica/helveticaltstdbold.woff') format('woff'),
         url('../styles/fonts/helvetica/helveticaltstdbold.ttf') format('truetype'),
         url('../styles/fonts/helvetica/helveticaltstdbold.svg#UnitedSansSemiCond-Medium') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* TL Font */

@font-face {
    font-family: 'tl';
    src: url('../styles/fonts/tl/abakutlsymsans.eot');
    src: url('../styles/fonts/tl/abakutlsymsans.eot?#iefix') format('embedded-opentype'),
         url('../styles/fonts/tl/abakutlsymsans.woff2') format('woff2'),
         url('../styles/fonts/tl/abakutlsymsans.woff') format('woff'),
         url('../styles/fonts/tl/abakutlsymsans.ttf') format('truetype'),
         url('../styles/fonts/tl/abakutlsymsans.svg#UnitedSansSemiCond-Medium') format('svg');
    font-weight: normal;
    font-style: normal;

}

 
/*/////////////////////////////////////////      GENEL      /////////////////////////////////////////*/

* {
	-moz-box-sizing:border-box; 
	-webkit-box-sizing:border-box; 
	box-sizing:border-box;
	font-family:'usc-bold';
	font-size:13px; color:#000; font-weight:400; font-style:normal;
	text-align:left; 
	line-height:1;
	margin:0;
	padding:0;
	border:none;
	outline:none;
	vertical-align: baseline; 
	text-decoration:none;
	list-style:none;
}

/*/////////////////////////////////////////      GENERAL      /////////////////////////////////////////*/

body {background:#1b1b1a;}
.right {float:right;}
.left {float:left;}

/*/////////////////////////////////////////      ICON      /////////////////////////////////////////*/

.icon1 {background: url(../images/sprite.png) no-repeat 0 0;}

/*/////////////////////////////////////////      PIZZAHUT CSS      /////////////////////////////////////////*/

.bodyWrapper {text-align:center; overflow: hidden;}
.bodyWrapper .pageWrapper {display:inline-block; max-width: 1100px; left: -200px; right: 200px; position:relative /*margin-left: -200px; margin-right: 200px;*/}
.bodyWrapper .webTemplate {}

/*/////////////////////////////////////////      POPUP      /////////////////////////////////////////*/

.detailPopup {}
.popupBasketBtn a {width:400px; height:70px; display:inline-block; background: url(../images/add-basket.jpg) no-repeat 0 0; }
.popupBasketBtn.active a {background: url(../images/add-basket.jpg) no-repeat 0 -70px;}

.popupWrapper { background: url(../images/popup-bg.jpg) no-repeat 0 0; z-index:2;}
.popupClose {position:absolute; right: -15px; top: -15px; z-index:2;}
.popupClose a {padding:10px; border-radius:100%; background:#ffbf00; display:block;}
.popupClose i {background-position: 0px -28px; width: 13px;  height: 13px; display:block;}

.alertClose {position:absolute; right: -15px; top: -15px; z-index:2;}
.alertClose a {padding:10px; border-radius:100%; background:#ffbf00; display:block;}
.alertClose i {background-position: 0px -28px; width: 13px;  height: 13px; display:block;}


/**/

body.alt .detailPopup { position: display: block;  position: relative; width: 1100px;   margin: 0 auto; top: 180px;}



.popupWrapper {display: none;}

body.alt .pageWrapper {position:fixed; top:0; left: -200px; right: 200px; margin: 0 auto;}
body.alt .popupWrapper{ display: block;}
body.alt .popupOrder{ position: fixed; width: 400px; right: 50%; top: 180px; margin-right: -550px; color: #fff; z-index:2; background: url(../images/prdSelectBg.jpg) center top no-repeat}
body.alt .popupSelect{ background: url(../images/popup-bg.jpg) no-repeat 0 0; width: 700px; position: relative; z-index:2; }
body.alt .popupWrapper:after{ content: ""; display: block; background: rgba(0, 0, 0, .4); position: fixed; left: 0; top: 0; width: 100%; height: 100%; z-index:1;}

/* */

.popupSelect .header {width:100%; padding:0 15px; display:inline-block; border-bottom:1px solid #bdbdbd;}
.popupSelect  .selected .header {border-color:transparent; background: rgba(255,255,255,0.3);}
.popupSelect  .body {background: rgba(0,0,0, 0.1); box-shadow: inset 0px 11px 8px -10px #999, inset 0px -11px 8px -10px #999; padding:20px 0; }
.popupSelect a  {display:inline-block; float:left;}
.popupSelect a  span {font-size:21px;}
.popupSelect a  i {color:#9a9b97; font-size:14px; padding: 0px 28px 0 18px; position: relative; top: -2px;}
.popupSelect .header a {padding:27px 10px 22px 0;}
.popupSelect a.typeSelectionBtn  span {color:#989898; float:left;}
.popupSelect a.typeSelectionBtn  span:after {content:''; background: url(../images/sprite.png) no-repeat -32px -23px; width:10px; height:7px; float:right; position: relative; top: 5px; left: 10px; display:block;}
.popupSelect a.typeSelectionBtn  small {font-size: 21px; color: #989898;}
.popupSelect a.typeSelectionBtn  small:after {content:''; background: url(../images/sprite.png) no-repeat -32px -23px; width:10px; height:7px; float:right; position: relative; top: 5px; left: 10px; display:block;}
.popupSelect .type span {font-family:'helvetica-light'; font-size:16px; color:#000; margin-bottom:6px; width:100%; display: inline-block;}
.popupSelect .type small {font-family:'helvetica-light'; font-size:13px; color:#999; width:100%; display: inline-block;}
.popupSelect .type  li:hover {/*padding: 0px 45px 0px 45px;*/}
.popupSelect .type a {display:inline-block; width:100%; position: relative; padding: 20px 60px 18px 0px;  border-bottom: 1px solid #bdbdbd;}
.popupSelect .type a:hover {  background: #fff; width: 108%; left: -4%; padding: 20px 10% 18px 4%; border-color: transparent;}
.popupSelect li {padding: 0px 65px 0px 65px; display: inline-block; width: 100%;}
.popupSelect .type .prdPrice {position:absolute; right:0px; top:25px;}
.popupSelect .type a:hover .prdPrice {right: 23px;}
.popupSelect .type .prdPrice span {font-family:'usc-bold';}
.popupSelect .type .prdPrice i {font-family:'usc-bold'; color:#000; padding:0; font-size: 20px;}
.popupSelect .type .prdPrice i:after {content: "t"; font-family: "tl"; font-size: 12px; padding:0 3px; font-weight: normal; position: relative; top: 1px;}

.popupSelect .customize {padding:0px 20px;}
.popupSelect .customize .sub {width:100%;}
.popupSelect .customize ul li {position:relative; padding:0;}
.popupSelect .customize > ul > li > a {width:100%; border-bottom:1px solid #aaa; position:relative; padding:13px 0 11px 48px;}
.popupSelect .customize > ul > li.selected {border-bottom:1px solid #aaa;}
.popupSelect .customize ul li a span {font-size:16px;}
.popupSelect .customize > ul > li > a:before {content:''; background: url(../images/sprite.png) no-repeat -72px -23px; width:11px; height:7px; float:left; position: absolute; top: 17px; left: 10px; display:block;}
.popupSelect .customize > ul > li.selected > a:before {content:''; background: url(../images/sprite.png) no-repeat -83px -10px; width:11px; height:11px; float:left; position: absolute; top: 14px; left: 10px; display:block;}
.popupSelect .customize ul li ul li {width:100%; max-width:105px; border-right:1px solid #aaa; float:left; text-align:center; color:#888; font-size:13px;}
.popupSelect .customize ul li ul li a {width:100%; text-align:center;}
.popupSelect .customize ul li ul li a:hover {background:rgba(255,255,255,0.8);}
.popupSelect .customize ul li ul li a img {padding:20px;}
/**/
.popupSelect .customize ul li ul.multiSelect li {border-top: 1px solid #aaa; margin-top: -1px;}
.popupSelect .customize ul li ul.multiSelect li a img {padding:0;}
.popupSelect .customize ul li ul.multiSelect li i.check:after {content:''; background: url(../images/sprite.png) no-repeat 0 -74px; width:12px; height:12px; position: relative;
  top: 5px; left: 5px; display:block;}
.popupSelect .customize ul li ul.multiSelect li.selected i.check {background: #c63037; width: 26px; height: 26px; border: 2px solid #c63037; margin: 20px 0;}
.popupSelect .customize ul li ul.multiSelect li.selected i.check:after {content:''; background: url(../images/sprite.png) no-repeat 0 -57px; width:10px; height:10px; position: relative;
  top: 6px; left: 6px; display:block;}
.popupSelect .customize ul li ul.multiSelect li.selected a {background: rgba(255,255,255,0.8);}
.popupSelect .customize ul li ul li i.check {border-radius:100%; border:2px solid #555; background:#fff; padding:0; width:26px; height:26px; display:inline-block; margin:20px 0;}
.popupSelect .customize ul li ul li.selected i.check {background:#888; width:26px; height:26px; border:2px solid #888; margin: 20px 0;}
.popupSelect .customize ul li ul li.selected i.check:after {content:''; background: url(../images/sprite.png) no-repeat 0 -13px; width:16px; height:10px; position: relative;
  top: 6px; left: 4px; display:block;}
.popupSelect .customize ul li ul li span {text-align:center; display:block; font-family:'helvetica'; color:#888; font-size:13px; min-height:30px; line-height: 15px;}
.popupSelect .success  .accordionBtn i {background:#fff; width:26px; height:26px; text-indent: -9999px; display: inline-block; float:left; border-radius: 100%; margin:-3px 13px; padding: 0;}
.popupSelect .success  .accordionBtn i:after {content:''; background: url(../images/sprite.png) no-repeat 0 0; width:16px; height:10px; position: absolute;
  top: 8px; left: 6px; display:block;}
 /**/
.popupSelect .customize ul li ul li i.check2 {border-radius:100%; padding:0; width:26px; height:26px; display:none;}
.popupSelect .customize ul li ul li.selected i.check2 {background:#000; width:26px; height:26px; border:2px solid #000; margin:20px 5px 20px 0; display:inline-block;}
.popupSelect .customize ul li ul li.selected i.check2 span {color:#fff; font-size:16px; font-family:'usc-bold'; position:absolute; top:5px; left:4px;}

/**/ 

.drinkItem .customize > ul > li > a , .otherProductsItem .customize > ul > li > a {display:none;}
.drinkItem  .customize > ul > li .sub, .otherProductsItem  .customize > ul > li .sub  {display:block;}
.drinkItem  .customize ul li ul li, .otherProductsItem .customize ul li ul li {border-top:0 !important;}

/*/////////////////////////////////////////      ORDER PROPERTY      /////////////////////////////////////////*/

.popupOrder .priceCalculation {padding:40px 30px 30px 30px; display:inline-block; width:100%;}

/* Order Price */

.popupOrder .orderPrice {float:left;}
.popupOrder .orderPrice span {color:#fff;}
.popupOrder .orderPrice span.prcFirst {font-size:75px;}
.popupOrder .orderPrice span.prcLast {font-size: 45px; vertical-align: top;}
.popupOrder .orderPrice span.currency {display:none;}

/* Order Piece */

.popupOrder .orderPiece {float:right;}
.popupOrder .orderPiece .piece  {display:inline-block;}
.popupOrder .orderPiece .piece small {font-size: 20px; color:#fff; vertical-align: top; padding:5px 10px 0 5px; display:inline-block;}
.popupOrder .orderPiece .piece span {font-size:75px; color:#fff;}
.popupOrder .orderPiece .addPiece {border:2px solid #a4a3a3; border-radius:20px; display:inline-block; float:right; overflow:hidden;}
.popupOrder .orderPiece .addPiece a {display:block; width:33px; height:33px;}
.popupOrder .orderPiece .addPiece a:hover {background-color:#a4a3a3;}
.popupOrder .orderPiece .addPiece a.plusPiece {border-bottom:2px solid #a4a3a3;}
.popupOrder .orderPiece .addPiece a i {width:17px; height:17px; position: relative; left: 8px; top: 8px;  display:block;}
.popupOrder .orderPiece .addPiece a.plusPiece i {background-position:0 -107px;}
.popupOrder .orderPiece .addPiece a.minusPiece i {background-position:0 -125px;}

/* Product Materials */

.popupOrder .prdMaterials {padding:0 30px;}
.popupOrder .prdMaterials h4 {color:#fff; font-size:18px; display:inline-block;}
.popupOrder .prdMaterials h5 {color:#d4a26f; font-size:18px; display:inline-block;}

/* Alert Popup */

.alertPopup {position:absolute; left:0; right:0; top:250px; margin:0 auto;  max-width: 630px; background:#fff; z-index:3;}
.alertPopup .alertContent {padding:20px; width:100%; display:inline-block; text-align:center;}
.alertPopup .alertContent span {font-family:'usc-bold'; font-size:18px;}

